a {
  text-decoration: none;
}

.main {
  background-image: image-url('music-lover.jpg');
  background-size: cover;
}

/* 画面上部 */
.title-contents {
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.post-music a {
  color: rgb(241, 88, 88);
  font-size: 30px;
}

.post-music a:hover {
  opacity: 0.5;
}

/* 一覧表示 */

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.item-contents>.subtitle:hover {
  opacity: 0.5;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-img-content:hover {
  opacity: 0.5;
}


.item-info {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.item-name {
  font-size: 2.5vh;
}
/* //商品一覧 */