<div class='footer'>
  <div class='footer-contents'>
    <div class='music-details'>
      <h2 class='footer-content-head'>FreeMusicについて</h2>
      <ul>
        <li><%= link_to '- 会社概要（運営会社) -', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='music-details'>
      <h2 class='footer-content-head'>楽曲の投稿、ダウンロード前にお読みください</h2>
      <ul>
        <li><%= link_to '- 利用規約 -', "#", class: "footer-link" %></li>
        <li><%= link_to '- 著作権について -', "#", class: "footer-link" %></li>
        <li><%= link_to '- 個人情報保護方針 -', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>