<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <a href="/">
      <h1>MusicTrade</h1>
    </a>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ジャンルから探す', "#", class: "category-list" %></li>
      <li><%= link_to '楽器から探す', "#", class: "brand-list" %></li>
    </ul>
  </div>
</header>